connectionString=jdbc:vertica://localhost:5433/VMart
adminUser=dbadmin
adminUserPassword=dbadmin
oAuthUser=demouser
authName=jdbcoauth
clientId=clientname
clientSecret=clientsecret
httpsDiscoveryUrl=https://keycloak:8443/realms/test/.well-known/openid-configuration