host=localhost
port=5433
dbName=VMart
adminUser=dbuser
adminUserPassword=dbuser
oAuthUser=testuser
authName=jdbcoauth
clientId=clientname
clientSecret=clientsecret
httpsDiscoveryUrl=https://keycloak:8443/realms/test/.well-known/openid-configuration