<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--
      ConnectionStrings defines how the SampleApp will connect to the server.  Change this to be specific to your environment.
    -->
	<connectionStrings>
		<add name="ConnectionString" connectionString="Host=localhost;Port=5433;Database=VMart;User=dbadmin;" providerName="Vertica.Data" />
	</connectionStrings>

	<!--
      App settings control how the sample queries your database.  You can change the Query and adjust the output by changing MaxColumnWidth.
    -->
	<appSettings>
		<add key="Query" value="SELECT user_id, user_name FROM USERS ORDER BY user_id;" />
		<!-- 
		Required OAuth paremeters to get access and refresh tokens.
		-->
		<add key="ClientId" value="" />
		<add key="ClientSecret" value="" />
		<add key="User" value="" />
		<add key="Password" value="" />
		<add key="TokenUrl" value="" />
		<!-- 
		Specifies the maximum width that will be used for any column.  Column headers and data values will be large enough for
		the complete column header, but any data values longer than that will be truncated.   If values are truncated a warning
		message is printed.  MaxColumnWidth values less than zero disables this limit.
		-->
		<add key="MaxColumnWidth" value="15"/>
	</appSettings>
</configuration>
