<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Host=localhost;Port=5433;Database=VMart;User=dbadmin;Password=;" providerName="Vertica.Data" />
  </connectionStrings>
  <appSettings>
    <add key="Query" value="SELECT customer_key, customer_name, customer_age FROM customer_dimension LIMIT 5;" />
  </appSettings>
</configuration>
